*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:  black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;;    
}
.main{
    width: 25vw;
    height: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 15px white , inset 0px 0px 10px white;
    text-shadow: 0px 0px 10px white;
}



.search{
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    display: flex;
    overflow: hidden;
    transition: 1s;
   
}

input[list = ice-cream-flavors]{
    width: 15vw;
     border-style: none;  
     padding: 1vw;
}

*:focus {
    outline: none;
}

.extend{
    width: 20vw;
}




.search i{
  
    flex: 0 0 2.5vw;
    position: relative;
}
.search  i::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


.location{
    margin-top: 1vw;
    font-size: 2.5vw;
    
    
    text-align: center;

}

.temp{
    font-size: 4vw;
    position: relative;
    height: 4vw;
}

.temp::after{
    content: "C";
    font-size: 2vw;
    position: absolute;
    right: -1.8vw;
    top: 0.5vw;
    
    
}

.temp::before{
    content: "";
    width: 0.4vw;
    height: 0.4vw;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    right: -0.4vw;
    top: 0.8vw;
}

.temp-h-l{
    display: flex;
    gap: 3vw;
    margin: 0.5vw 0vw -0.5vw 0vw;
    
}

.temp-h-l div{
    position: relative;
}

.temp-h-l div::after{
    content: "";
    width: 0.15vw;
    height: 0.15vw;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    right: -0.4vw;
    
}

.condition{
    /* margin-top: -1vw; */
}

.details{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    margin: auto 0px;
    font-size: 1vw;
    gap: 1vw;
}

.details-row{
    /* border: 1px solid black; */
    display: flex;
    height: 3vw;
}

.details-row:first-child{
    border-bottom: 0.1vw solid white;
}

.details-col{
    flex: 1;
}

.details-col{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .details-col:nth-child(n+2):before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0vw;
    height: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
    transform: translateY(-50%);
}

.details-col i{
    margin-left: 0.5vw;
    color: rgb(47, 179, 255);
}

.last-updated{
    font-size: 0.7vw;
}

.feels-like{
    margin-left: 0.3vw;
}

.feels-like::after{
    content: "";
    width: 0.2vw;
    height: 0.2vw;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    left: 4.9vw;
    top: 0.8vw;
}

.last-updated{
    margin: 1vw 0vw;
}

.next_hours{
    width: 100%;
    /* background: red; */
    margin-top: auto;
    display: flex;
    text-align: center;
    font-size: 1.2vw;
}

.next_hours > div{
border: 1px solid white;
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
padding: 0.2vw;

}

.time , .hourly_temp{
    flex: 1;
    position: relative;
}

.icon{
    flex: 2;
}

.hourly_icon{
    width: 3.5vw;
}

.hourly_temp::after{
    content: "";
    width: 0.2vw;
    height: 0.2vw;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    right: -0.4vw;
}

.sun-rise , .sun-set{
    width: 2vw;
    margin-left: 0.5vw;
}

.sun-rise-time , .sun-set-time{
    margin-top: 0.7vw;
}


svg , path , g{
    
    filter: drop-shadow( 0px 0px 10px rgba(255, 145, 1,1));
}



svg{
    width: 3vw;
    height: 3vw;
    overflow: visible;
    margin-left: 0.5vw;
}


.turbin path{
    animation: rotate 2s ease infinite;
    transform-origin: 50% 40%;
}



#Layer_1 ,.turbin path , .turbin circle , .turbin , .turbin_base path , .turbin_base{
    filter: drop-shadow( 0px 0px 20px rgb(0, 204, 255));
}

#Layer_1{
    width: 2.2vw;
    margin: 0px;
    margin-bottom: 1vw;
}



@keyframes rotate {
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(1440deg);
    }
}





